.PriceCard{
    margin: auto 15px;
    box-sizing: border-box;
    min-height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px #ccc6c6b0;
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    align-self: bottom;
    transition: 0.5s;
}
.PriceCard.CardActive{
    transform: scale(1.05);
    box-shadow: 0px 0px 7px 3px #ccc6c68f;
}
.CardHeader{
    width: 100%;
    background-color: rgb(233, 229, 229);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 300!important;
    align-items: center;
}
.CardHeader i{
    position: absolute;
    top: 10px;
    right: 10px;
}
.CardBody{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 50px;
}
.CardBody div:first-child{
    color: gray;
}
.CardBody div span{
    font-size: 2.5em;
    font-weight: 500;
    color: black;
}

.PriceCard button{
    width: calc(100% - 14px);
    border: 2px solid #1976d2;
    background-color: white;
    color: #1976d2;
    position: absolute;
    bottom: 7px;
    left: 7px;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 600;
}
.PriceCard button:hover, .PriceCard.CardActive button{
    background-color: #1976d2;
    color: white;
}